th:hover {
    cursor: pointer;
}

th {
    padding: 1rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

td {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid grey;
}

table > tbody > tr:last-child > td {
    border-bottom: 1px solid black;
}

.better-data-table,
table,
.controls {
    width: 100%;
}

.controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

table {
    margin-bottom: 5px;
    margin-top: 5px;
}
