.arc text {
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}

path.slice {
    stroke-width: 2px;
}

polyline {
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

.pie-chart {
    padding: 30px;
}

svg > .title {
    font-weight: bold;
}

.charts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
