th:hover {
    cursor: pointer;
}

th {
    padding: 1rem;
}

td {
    padding: 1rem;
    text-align: center;
}

.line-divisions > tbody > tr:last-child > td {
    border-bottom: 1px solid black;
}

.line-divisions td {
    border-bottom: 1px solid grey;
}

.line-divisions th {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.zebra-stripes > tbody > tr:nth-child(even) {
    background-color: #F2F2F2;
}

.better-data-table {
    max-width: 1000px;
    margin: auto;
}

.controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

table {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    border-spacing: 0px;
}

.data-table {
    border: 1px solid black;
    padding: 5px;
}

tbody > tr > td > input {
    width: 100%;
}
